<ion-header>
  <ion-toolbar>
    <ion-title>A Minha App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centro-tela">
    <h1>Pedro Ribeiro</h1> 
    
    <div class="grupo-botoes">
      <ion-button expand="block" color="primary" routerLink="/apresentacao">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Minha Apresentação
      </ion-button>

      <ion-button expand="block" style="--background: #66ccff; --color: #003366;" routerLink="/livros">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        Livros que já li
      </ion-button>
    </div>
  </div>
</ion-content>