<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Capa do 1984" src="https://covers.openlibrary.org/b/id/153256-L.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>1984</h2>
        <p>George Orwell</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Capa d'O Senhor dos Anéis" src="https://covers.openlibrary.org/b/id/10411299-L.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>O Senhor dos Anéis</h2>
        <p>J.R.R. Tolkien</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Capa do Ensaio sobre a Cegueira" src="https://covers.openlibrary.org/b/id/14495573-L.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Ensaio sobre a Cegueira</h2>
        <p>José Saramago</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>